



<div style= "max-width: 450px; margin: auto" class="shadow p-3 mb-5 bg-white rounded">
  <nav class="navbar navbar-expand-lg navbar-normal">
        <h3 class="form-header">Enter you details below to login:</h3>

  </nav>

<%= form_for(:session, url:'/login', method: :post) do |f| %>
    <%= f.text_field :username, placeholder: "username",  class: "input-form"%><br>
    <%= f.password_field :password, placeholder: "password",  class: "input-form"%><br>
    <%= f.submit "Log in", class: "btn btn-primary btn-m rounded-pill mt-2"%>
<% end %>



<div>
<p>New User?
<%= link_to "Click here to sign up", new_user_path, class: "link" %>
</p>
</div>

 <% if flash[:errors] %>
      <div><font color="red">
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      </font>
    </div>
    <% end %>
