<div class="shadow p-3 mb-5 bg-white rounded">
  <nav class="navbar navbar-expand-lg navbar-normal">
      <%= link_to "Top List  |", dashboard_path, method:'get', class: 'navbar-brand' %>
      <%= link_to "Movies", '/dashboard/Movies', method:'get', class: 'navbar-brand' %>
      <%= link_to "TV Shows",'/dashboard/TV-Shows', method:'get', class: 'navbar-brand' %>
      <%= link_to "Books", '/dashboard/Books', method:'get', class: 'navbar-brand' %>
      <%= link_to "Video Games", '/dashboard/Video-Games', method:'get', class: 'navbar-brand' %>
      <%= link_to "Podcasts  |", '/dashboard/Podcasts', method:'get', class: 'navbar-brand' %>
      <%= link_to "Add new+", new_medium_path, method:'get', class: 'navbar-brand' %>

      <%= form_tag(dashboard_path, method: "get") do %>
      <%= text_field_tag :q, nil ,class: 'navbar-brand', placeholder: 'filter by tag...' %>
      <%= submit_tag "Go", class: 'btn btn-sm' %>
      <% end %>
  </nav>
  <div class="small container">
    <% if @media == nil || @media == [] %>
      <br><br><br><br>
      <h2 class="text-center">Oh well.. </h2>
      <h2 class="text-center">Nothing to see here</h2>
      <br>
      <div class="text-center"><a href=<%=media_path%> class="btn btn-dark btn-lg" role="button">Check out our amazing suggstr-base</a></div>
      <br><br><br><br><br><br>
    <% else %>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Media</th>
          <th scope="col">Type</th>
          <th scope="col">Avg Rating</th>
          <th scope="col">Added</th>
          <th scope="col"> </th>
          <th scope="col"> </th>
          <th scope="col"> </th>
          <th scope="col"> </th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <%medium_tpye = @media.first.type.name%>
        <% @media.each do |medium| %>
        <tr>
          <%queued_medium_id = QueuedMedium.find_by(medium_id: medium.id, user_id: @user.id).id%>
          <td><%=link_to(medium.title, medium,html_options = {:style=>'color:#000000;'})%></td>
          <td><%=medium.type.name%></td>
          <td>
            <% if !medium.good_score %>
              <%="-"%>
            <% else %>
              <%=medium.good_score*100%>
            <% end %>
          </td>
          <td><%=time_ago_in_words(medium.created_at)%> ago</td>
          <% if @sub != "Top List" && @sub != nil%>
            <td class="text-center">
              <%= link_to "<i class=\"fas fa-arrow-up\"></i>".html_safe, "/user/#{@user.id}/#{medium.id}/up", method: 'post', class:'btn btn-light btn-sm' %>
            </td>
            <td class="text-center">
              <%= link_to "<i class=\"fas fa-arrow-down\"></i>".html_safe, "/user/#{@user.id}/#{medium.id}/down", method: 'post', class:'btn btn-light btn-sm' %>
            </td>
          <% end %>
          <td class="text-center">
            <%= button_to 'Completed', "/user/#{@user.id}/#{medium.id}/completed", method: 'post', class:'btn btn-dark btn-sm form-inline' %>
          </td>
          <td class="text-center">
            <%= button_to '+', "/media/#{medium.id}/suggest", method: 'get', class:'btn btn-success btn-sm form-inline' %>
          </td>
          <%queued_medium_id = QueuedMedium.find_by(medium_id: medium.id, user_id: @user.id).id%>
          <td class="text-center">
            <%= link_to "<i class=\"fas fa-trash-alt\"></i>".html_safe, "/queued_media/#{queued_medium_id}", method: 'delete', class:'btn btn-light btn-sm' %>
          </td>
        </tr>
        <% end %>
      </tbody>
      </table>
  <% end %>
  </div>
</div>
