<%if logged_in? %>
<h1>Hi <%= current_user.name %>!</h1>




<%= button_to "Back to dashboard", dashboard_path, method: :get%>
<% else %>

  <br>

<div style= "max-width: 450px; max-height: 500px;margin: auto;" class="shadow p-3 mb-5 bg-white rounded">
  <nav style="display: flex; flex-direction: column;" class="navbar navbar-expand-lg navbar-normal">
      <h3 class="form-header">Sign up to Suggstr</h3>
        <h5 class="form-header">And start suggstng!</h5>

  </nav>
<%= form_for @user, html: {class: "text-center", style: "margin-top: 1rem;" } do |f| %>
    <%= f.text_field :name, placeholder: "name", class: "input-form" %><br>
    <%= f.text_field :username, placeholder: "username", class: "input-form"  %><br>
    <%= f.password_field :password, placeholder: "password", class: "input-form"  %><br>

    <%= f.submit "Sign up", class: "btn btn-primary btn-m rounded-pill mt-2"  %>
<% end %>
<p class = "text-center" style = "margin-top: 2rem;" >Already have an account? <br>
<%= link_to "Click here to login", login_path %>
</p>

<% end %>

 <% if flash.now[:danger] %>
      <div><font color="red">
      <ul>
        <% flash.now[:danger].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      </font>
    </div>
    <% end %>

</div>
