<%if logged_in? %>
<h1>Hi <%= current_user.name %>!</h1>
<% else %>


<h1>Sign up to Suggstr</h1>
<h3>And start suggstng!</h3>

  <br>


  <% if flash[:errors] %>
    <div><font color="red">
    <ul>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
    </div></font>
    </ul>
    </font></div>
  <% end %>


<%= form_for @user do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %><br>
    <%= f.label :email, "email address:" %>
    <%= f.text_field :email %><br>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %><br>

    <%= f.submit "Sign up" %>
<% end %>

<p>Already have an account?
<%= link_to "Click here to login", login_path %>
</p>

<% end %>
