
<h2><%=@user.name%></h2>

<% if @media.length == 0 %>


<h3>This users queue is empty.</h3>


<% else %>

<% if current_user == @user %>
<%= button_to  "Go to your dashboard", dashboard_path, method: :get , class:'btn btn-primary' %>
<% end %>

<h3><%=@user.name%>'s current queue is:</h3>

<table>
  <tr>
    <th>Medium</th>
    <th>Type</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>

<% @media.each do |medium| %>
<tr>
<th><%=link_to medium.title, medium%></th>
<th><%=medium.type.name%></th>

<%queued_medium_id = QueuedMedium.find_by(medium_id: medium.id, user_id: @user.id).id%>

</tr>
<% end %>
</table>

<br><br>

<% end %>
