
<h2><%=@user.name%></h2>

<% if @media.length == 0 %>


<h3>You have nothing in your queue! Click below to add stuff! </h3>

<% else %>

<h3>Your current queue is:</h3>

<ul>
<% @media.each do |medium| %>
<%=link_to "#{medium.title} - (#{medium.type.name})", medium, class: 'form-inline' %>

<% if current_user == @user %>
<%= button_to "Up" , "/user/#{@user.id}/#{medium.id}/up", method: 'post', class: 'form-inline btn btn-info btn-sm' %>
<%= button_to "Down" , "/user/#{@user.id}/#{medium.id}/down", method: 'post', class: 'form-inline btn btn-info btn-sm' %>
<% end %>

<% end %>
</ul>

<% end %>

<% if current_user == @user %>
<%= button_to  "Add to queue", new_medium_path, method: :get %>
<% end %>

<!-- <h3>Browse:</h3>
<%= form_tag media_path, method: 'get', class:'form-inline' do %>
	<%= submit_tag 'Browse' %>
<% end %>  -->
