
<h2><%=@user.name%></h2>

<% if @media.length == 0 %>


<h3>You have nothing in your queue! Click below to add stuff! </h3>

<% if current_user == @user %>
<%= button_to  "Add to queue", new_medium_path, method: :get , class:'btn' %>
<% end %>

<% else %>

<% if current_user == @user %>
<%= button_to  "Add to queue", new_medium_path, method: :get , class:'btn' %>
<% end %>

<h3>Your current queue is:</h3>

<table>
  <tr>
    <th>Medium</th>
    <th>Type</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>

<% @media.each do |medium| %>
<tr>
<th><%=link_to medium.title, medium%></th>
<th><%=medium.type.name%></th>

<th><%= button_to '🔼', "/user/#{@user.id}/#{medium.id}/up", method: 'post', class:'btn form-inline' %></th>

<th><%= button_to  '🔽', "/user/#{@user.id}/#{medium.id}/down", method: 'post', class:'btn form-inline' %></th>

<th><%= button_to 'Completed', "/user/#{@user.id}/#{medium.id}/completed", method: 'post', class:'btn btn-success form-inline' %></th>

<%queued_medium_id = QueuedMedium.find_by(medium_id: medium.id, user_id: @user.id).id%>

<th><%= button_to 'Delete', "/queued_media/#{queued_medium_id}", method: 'delete', class:'btn btn-danger form-inline' %></th>

</tr>
<% end %>
</table>

<br><br>

<!--<h3>Completed list: </h3>

<table>
  <tr>
    <th>Medium</th>
    <th>Type</th>
    <th>Your rating</th>
    <% RatingRecord.categories.each do |c| %>
     <th><%=c%></th>
    <% end %>
  </tr>


<%# <% if @completed_media.length > 0%>
<%# <% @completed_media.each do |medium| %> %>
<tr>
<%# <th><%=medium.title%></th> %>
<%# <th><%=medium.type.name%></th> %>
<%# <%@rating_record = RatingRecord.find_by(user_id: @user.id, medium_id: medium.id)%> %>
<%# <th><%=@rating_record.rated_score%></th> %>
<%# <% RatingRecord.categories.each do |c| %> %>
  <%# <th><%=(medium.rating_history[c].*100).round%>%</th> %>
<%# <% end %> %>
</table>
<%# <% end %> %> %>
<%# <% end %> %>
-->

<% end %>


<!-- <h3>Browse:</h3>
<%= form_tag media_path, method: 'get', class:'form-inline' do %>
	<%= submit_tag 'Browse' %>
<% end %>  -->
