
<h2>Add to queue:</h2>

<%= form_for @medium do |f| %>

  <%= f.label  "Title" %>
  <input list="medium-titles" id="medium-choice" name="medium[title]" value=<%=@medium.title if @medium.title %> >

  <datalist id="medium-titles">
    <% Medium.all.sort_by{|m| m.title}.each do |m| %>
        <option value="<%= m.title %>" >
    <% end %>
  </datalist>

  <br>

  <%= f.label :type_id %>
  <%= f.collection_select :type_id, Type.all, :id, :name %>

  <br>

  <div class="selectize">
    <div class="selectize-tags" style="display: block; visibility: visible; width: 260px; top: 38px; left: 0px;">
      <label for="input-tags">Tags (optional):</label>
      <input type="text" id="input-tags" class="default" name="tags" value="">
    </div>
    <script>
      $('#input-tags').selectize({
          delimiter: ',',
          persist: false,
          create: function(input) {
              return {
                  value: input,
                  text: input
              }
          }
      });
    </script>
  </div>

  <br>

  <%= button_to "Add", f.submit %>
<% end %>
