

<div>

<h3>Add to que:</h3>


<%= form_for @medium do |f| %>

  <%= f.label  "Title:" %>
  <input list="medium-titles" id="medium-choice" name="medium[title]" class="form-control"
  placeholder="Enter the title to add to your que..." style="display: block; visibility: visible; width: 360px; top: 38px; left: 0px;"
  value=<%=@medium.title if @medium.title %> >

  <datalist id="medium-titles">
    <% Medium.all.sort_by{|m| m.title}.each do |m| %>
        <option value="<%= m.title %>" >
    <% end %>
  </datalist>


  <%= f.collection_select :type_id, Type.all, :id, :name %>


  <div class="selectize">
    <div class="selectize-tags" style="display: block; visibility: visible; width: 360px; top: 38px; left: 0px;">
      <label for="input-tags">Tags (optional):</label>
      <input type="text" id="input-tags" placeholder="Add descriptive tags..." name="tags" >
    </div>
    <script>
      $('#input-tags').selectize({
          delimiter: ',',
          persist: false,
          create: function(input) {
              return {
                  value: input,
                  text: input
              }
          }
      });
    </script>
  </div>

  <%= button_to "Add", f.submit, class: 'btn btn-success'  %>
<% end %>

</div>
