<div class="shadow p-3 mb-5 bg-white rounded" style="width:30%; display:inline-block; height:500px; vertical-align:top; margin-right:30px" >
  <h2><%=@medium.title %> - <small>(<%=@medium.type.name %>)</small></h2>
  <div class="row" style="margin-left:2px">
    <div class="row" style="margin-left:2px;margin-right:10px">
    <%= form_for @queued_medium do |f| %>
    <%= f.button 'Add to que', type: 'submit', name: 'queued_medium[medium_id]', value: @medium.id, class:'btn btn-dark' %>
    <% end %>
    </div>
    <%= link_to "Suggest to friend", medium_suggestion_path(@medium), class: 'btn btn-success' %>
  </div>
</div>

<div class="shadow p-3 mb-5 bg-white rounded" style="width:60%; display:inline-block; height:500px; vertical-align:top">

  <br>
  <% if !!@medium.rating_history["Good"] %>
    <span><%number_to_percentage(@medium.avg_score*100/20).to_i.times do%>
      <h3 style="display:inline">⭐️</h3>
    <% end %></span>
    <font size="1">(out of 5 stars)</font>
    <h3><%= number_to_percentage(@medium.rating_history["Good"]*100, precision: 0) %> of people really liked this <%= @medium.type.name %></h3>
  <% else %>
    <h3> It's either really bad or no one has reviewed it yet </h3>
  <% end %>
  <p><%= pluralize(@medium.users.length, "user") %> <%= @medium.users.length == 1 ? "has" : "have" %> this in their queue</p>
  <br><br>
  <% if @medium.tags.count == 0 %>
    <h3>Tags:  currently there is no tag</h3>
  <% else %>
    <h3>Tags:</h3>
    <p style="display:inline">
    <% @medium.tags.each do |tag| %>
        <p class="btn btn-info"><%= link_to(tag.name,tag, html_options = {:style=>'color:#FFFFFF;'})%></p>
    <% end %>
    <p>
  <% end %>
  <%= form_for @medium do |f| %>
  <div class="selectize">
    <div class="selectize-tags" style="display: block; visibility: visible; width: 360px; top: 38px; left: 0px;">
      <label for="input-tags">Add more tags:</label>
      <input type="text" id="input-tags" name="tags" style="width:500px" >
    </div>
    <script>
      $('#input-tags').selectize({
          delimiter: ',',
          persist: false,
          create: function(input) {
              return {
                  value: input,
                  text: input
              }
          }
      });
    </script>
  </div>
  <br>
  <%= button_to "Add tags", f.submit, class: 'btn btn-dark'  %>
  <% end %>
</div>
