
<div>

<h3><%= @medium.title %> (<%= @medium.type.name %>)</h3>

<% if flash[:error] %>
  <div class="notice"><font color="red">
    <ul>
        <li>
          <%= flash[:error] %>
        </li>
      <% end %>
    </ul>
    </font>
  </div>

  <%= form_for @suggestion do |f| %>

  <%= f.text_field :medium_id,:readonly => true, value: @medium.id, type: "hidden" %>

  <%= f.label  "User:" %>
  <input list="user-names" id="user_names" name="user[name]" class="form-control"
   style="display: block; visibility: visible; width: 360px; top: 38px; left: 0px;">

  <datalist id="user-names">
    <% User.all.sort_by{|u| u.name}.each do |u| %>
        <option value="<%= u.name %>" >
    <% end %>
  </datalist>

  <br>

  <%= f.text_area :message, placeholder:"Write your message here." %>

  <br>

  <%= button_to "Send", f.submit, class: 'btn btn-success'  %>
<% end %>

</div>
