

<div class="shadow p-3 mb-5 bg-white rounded" style="width:70%; height:250; vertical-align:top; margin-right:auto; margin-left:auto" >

<h3><%= @medium.title %> (<%= @medium.type.name %>)</h3>

  <%= form_for @suggestion do |f| %>

  <%= f.text_field :medium_id,:readonly => true, value: @medium.id, type: "hidden" %>

  <%= f.label  "User:" %>
  <input list="user-names" id="user_names" name="user[username]" class="form-control"
   style="display: block; visibility: visible; width: 360px; top: 38px; left: 0px;">

  <datalist id="user-names">
    <% User.all.sort_by{|u| u.username}.each do |u| %>
        <option value="<%= u.username %>" >
    <% end %>
  </datalist>

  <br>

  <%= f.text_area :message, placeholder:"Write your message here.", style:"display: block; visibility: visible; width: 360px; top: 38px; left: 0px;" %>

  <br>

  <%= button_to "Send", f.submit, class: 'btn btn-success'  %>
<% end %>

</div>
