<h3><%= @suggestion.sender_object.name %> has suggested <%= @suggestion.medium.title %></h3>

<p><%= @suggestion.message %></p>


<%= form_for @queued_medium do |f| %>
<%= f.button 'Add to que', type: 'submit', name: 'queued_medium[medium_id]', value: @suggestion.medium_id %>
<% end %>
