<div class="shadow p-3 mb-5 bg-white rounded" style="width:70%; height:250; vertical-align:top; margin-right:auto; margin-left:auto" >

<h3><%= @suggestion.sender_object.name %> has suggested <%= @suggestion.medium.title %> (<%= @suggestion.medium.type.name %>)</h3>

<p><%= @suggestion.message %></p>


<%= form_for @queued_medium do |f| %>
<%= f.button 'Add to queue', type: 'submit', name: 'queued_medium[medium_id]', value: @suggestion.medium_id, class:'btn btn-success btn-sm form-inline col-xs-12 col-sm-4 col-sm-offset-3'%>
<% end %>

<%= link_to "<i class=\"fas fa-trash-alt\"></i>".html_safe, @suggestion, method: 'delete', class:'btn btn-dark btn-sm form-inline col-xs-12 col-sm-1 col-sm-offset-3' %>
</div>
