<!DOCTYPE html>
<html>
<head>

  <%= favicon_link_tag 'favicon.ico' %>

  <title>Suggstr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap core CSS -->

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Keeping the custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


</head>
<body>


<!-- Navigation -->
<!-- Navigation for logged in userss-->
<% if logged_in? %>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
<div class="container">

  <%= link_to "My List", dashboard_path, method:'get', class: 'navbar-brand' %>
  <%= link_to "My Suggestions(#{current_user.received_suggestions.length})", user_suggestions_path(current_user), method:'get', class: 'navbar-brand' %>
  <%= link_to "History", user_history_path(current_user), method:'get', class: 'navbar-brand' %>
  <%= link_to "Browse", media_path, method:'get', class: 'navbar-brand' %>
  <%= link_to "Top Suggstrrs", users_path, method:'get', class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "Log Out, #{current_user.name} ", logout_path, method:'delete', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</div>
</nav>

<% else %>
<!-- Navigation for none logged in userss-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
<div class="container">
  <a class="navbar-brand" href="#">Explore Suggstr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%=signup_path%>">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=login_path%>">Log In</a>
      </li>
    </ul>
  </div>
</div>
</nav>
<% end %>


<% if request.fullpath == '/suggstr' %>
  <%= yield %>
<% else %>
  <div class="main container">
      <% if flash[:message] %>
        <div class="notice"><font color="green">
          <ul>
              <li>
                <%= flash[:message] %>
              </li>
          </ul>
          </font>
        </div>
      <% end %>
  <%= yield %>
  </div>
  <% if flash[:errors] %>
    <div><font color="red">
    <ul>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
      </ul>
    </font>
  </div>
  <% end %>
<% end %>




<!-- Footer -->
<br><br>
<footer class="py-3 bg-black">
<div class="container">
<p class="m-0 text-center text-white small">Copyright &copy; SuggstrGang 2019</p>
<p class="m-0 text-center text-white small">Powered by Ruby on Rails on Bootstrap</p>
</div>
<!-- /.container -->
</footer>
</body>
</html>
